// Файл обнуляющих стилей
@import "nullstyle.scss";
@import "mixin.scss";

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

/*Title*/
.title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.title_color-white {
    color: #fff;
}

/*Suptitle*/
.suptitle {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
    text-align: center;
}

/*HEADING-BLOCK*/
.heading-block {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.heading-block__suptitle {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}

.heading-block__title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    line-height: 2;
}

.heading-block__title:after {
    @include redLine;

    margin: 20px auto;
    margin-bottom: 40px;
}

.heading-block__text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #999;
    line-height: 1.5;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../img/intro.jpg") no-repeat center;
    background-size: cover;

    padding: 120px 0;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    font-size: 150px;
    color: #ffffff;
}

.intro__title::after {
    @include whiteLine;

    margin: 60px auto;
}

.intro__suptitle {
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
}

/*Header*/
.header {
    width: 100%;
    margin: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

/*Nav*/
.nav__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;

    transition: color 0.1s linear;
}

.nav__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    opacity: 0;

    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.nav__item:hover {
    color: #fce38a;
}

.nav__item:hover:after {
    opacity: 1;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: solid 2px #fff;

    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;

    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: #ffffff;
    color: #333;
}

/*Slider*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__items {
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;

    opacity: 0.7;

    border-top: solid 3px #fff;
}

.slider__items.active {
    opacity: 1;
    position: relative;
}

.slider__items.active:before {
    @include redLine;
    position: absolute;
    top: -3px;
}

.slider_num {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}

/*SECTION*/
.section {
    padding: 90px 0;
}

.section--devices {
    margin-bottom: 60px;
    background: url("../../img/devices-bg.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

.section--clients {
    background: #f5f5f5 url("../../img/clients-bg.jpg") no-repeat center;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

/*cardsUs*/
.cards {
    display: flex;
    justify-content: space-between;
}

.cards__inner {
    background: #95e1d3;
    position: relative;
}

.cards__item {
    width: 380px;
}

.cards__item:hover .cards__img {
    transform: translate3d(-10px, -10px, 0);
}

.cards__img {
    background: linear-gradient(to bottom, #e37e7d, #edd484);

    transition: transform 0.2s linear;
}

.cards__img img {
    transition: opacity 0.2s linear;
}

.cards__item:hover .cards__img img {
    opacity: 0.2;
}

.cards__text {
    width: 100%;

    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}

.cards__item:hover .cards__text {
    opacity: 1;
}

/*Statistics*/
.statistics {
    background: #95e1d3;
}

.statistics__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics__item {
    flex: 1 1 0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}

.statistics__item:last-child {
    border-right: solid 1px rgba(255, 255, 255, 0.5);
}

.statistics__title {
    font-size: 72px;
}

.statistics__text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
}

/*SERVICE*/
.service {
    display: flex;
    justify-content: center;
    margin: 100px auto 50px;
}

.service__inner {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin: 70px 0;
}

.service__item {
    position: relative;
    padding-left: 85px;
    padding-right: 35px;
}

.service__img {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
}

.service__title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.service__text {
    @include font-Roboto;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
}

/*DEVICES*/
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*SERVICES*/
.services {
    margin: 100px auto;
}

.services__inner {
    margin-top: 80px;
}

/*SERVICES--2*/
.service2 {
    display: flex;
}

.service2__item {
    flex: 1 1 0;
}

/*ACCORDION*/
.accordion__item {
    margin-bottom: 10px;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header {
    border-bottom: none;
}

.accordion__item.active .accordion__header:after {
    // margin-bottom: 5px;
    transform: rotate(-45deg);
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border: solid 1px #e5e5e5;
    cursor: pointer;
}

.accordion__header:after {
    @include arrow;
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-70%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    @include font-Roboto(15px, 300, italic);
    color: #999;
    border: solid 1px #e5e5e5;

    display: none;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

/*REVIEWS*/
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__text {
    @include font-Roboto(24px, 300, italic);
    color: #999;
    padding-bottom: 20px;
}

.reviews__autor {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}

/*red line before rewiew autor*/
.reviews__autor:before {
    @include redLine;
    display: inline-block;
    margin-right: 10px;
}

.reviews__photo {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    border-radius: 50%;

    transform: translateY(-50%);
}

.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.reviews__btn:after {
    @include arrow;
}

.reviews__btn--prew {
    left: 20px;
    transform: rotate(-135deg);
}

.reviews__btn--next {
    right: 20px;
    transform: rotate(45deg);
}

/*SOCIAL*/
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    padding: 10px;
    width: 55px;
    height: 55px;

    font-size: 30px;
    line-height: 1;

    background-color: #fce38a;
    border-right: solid 1px #f38181;

    color: #f38181;

    text-decoration: none;
    transition: background-color 0.5s linear, color 0.2s linear;
}

.social__item:last-child {
    border-right: none;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
}

/*TEAM*/
.team__name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0 10px 0;
    text-align: center;
}

.team__position {
    @include font-Roboto(15px, 300, italic);
    text-align: center;
    color: #999;
}

/*LOGOS*/

.logos {
    display: flex;
    justify-content: space-between;
}

/*WORKS*/
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    position: relative;
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity 0.2s linear;
}

.works__item:hover .works__img {
    opacity: 0.1;
}

.works__info {
    width: 100%;
    position: absolute;
    padding: 0 15px;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    text-align: center;
    color: #fff;

    opacity: 0;
    transition: opacity 0.2s linear;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 700;
}

.works__text {
    @include font-Roboto();
    font-style: italic;
}

/*CLIENTS*/

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: 50%;
    position: relative;

    padding: 0 45px 0 175px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 1;
}

.clients__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}

.clients__prof {
    @include font-Roboto();
    font-style: italic;
}

.clients__text {
    @include font-Roboto();
    &:before {
        @include redLine;
        margin: 10px 0;
    }
}

// BLOG
.blog {
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        padding: 20px;
    }
    &__text {
        @include font-Roboto();
        font-size: 15px;
        color: #999;
        margin-bottom: 30px;
    }
    &__item{
        position: relative;
    }
}

.blog-info{
    position: absolute;
    bottom: 42%;
    left: -10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 50px;
    height: 70px;

    background: #95e1d3;
    color: #fff;
    &__date{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 5px;
    }
    &__mounth{
        font-size: 15px;
        font-style: italic;
    }
}

.count__block {
    display: flex;
    justify-content: flex-start;
}

.counter {
    margin-right: 20px;
    & i {
        margin-right: 10px;
        color: #95e1d3;
    }
}


// FOOTER
.footer{
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/*Media*/
@import "media.scss";
